@model CiRent.BL.Entities.CartModel
<div class="modal cart-modal" style="display: none;">
    <div class="modal-body">

        <button id="close_cart_modal" class="exit">x</button>
        <h2 class="modal-name">Cart</h2>
        @foreach (var item in Model.CartsModel)
        {
        <div class="cart-product-list-holder">
            <ul class="cart-product-list">
                <li class="cart-product">
                    <img class="cart-img" src="~/Images/Products/@item.PhotoPath" alt="">
                    <span class="cart-name">@item.ProductName</span>
                    <span class="rent-dates">@item.StartDate - @item.EndDate</span>
                    <span class="rent-price">@item.Price</span>
                    <button class="remove-item">X</button>
                </li>
                
            </ul>
        </div><!--cart-product-list-holder-->
        }
        <span class="cart-total-price">@Model.TotalPrice</span>
        <button id="order_confirm">Confirm</button>
    </div><!--modal-body-->
</div><!-- cart-modal -->
